<ion-card>
  <div class="imagen-container">
    <img [src]="noticia.imagenUrl" alt="{{noticia.titulo}}" class="noticia-imagen">
  </div>

  <ion-card-header>
    <ion-card-subtitle>{{ noticia.autor }}</ion-card-subtitle>
    <ion-card-title>{{ noticia.titulo }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p class="line-clamp-3">{{ noticia.resumen }}</p>

    <div class="card-footer">
      <ion-button size="small" fill="outline" color="primary" (click)="onMostrarDetalles()">
        Detalles
      </ion-button>

      <ion-button size="small" fill="clear" color="danger" (click)="onEliminarNoticia()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>