@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  /* Colores principales */
  --ion-color-primary: #4f46e5; 
  --ion-color-primary-rgb: 79, 70, 229;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #453eaa;
  --ion-color-primary-tint: #605ae8;

  --ion-color-secondary: #06b6d4; 
  --ion-color-secondary-rgb: 6, 182, 212;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;

  --ion-color-danger: #dc2626; 
  --ion-color-danger-rgb: 220, 38, 38;
}

/* Fondo temático por defecto (Modo Claro) */
ion-content {
  --background: linear-gradient(180deg, #51a0eb 0%, #3142a1 50%, #5c27a1 100%);
}

/* MODO OSCURO: Clase fuera de :root para que funcione el toggle */
.ion-palette-dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;

  /* Sobrescribimos el degradado de fútbol para que sea negro puro */
  ion-content {
    --background: #000000 !important;
  }

  /* Ajuste para que las tarjetas se vean bien en negro */
  ion-card {
    --background: #121212;
    --color: #ffffff;
  }
}