// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


:root {
  /**
   * Color principal para la cabecera, botones, etc.
   */
  --ion-color-primary: #4f46e5; 
  --ion-color-primary-rgb: 79, 70, 229;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #453eaa;
  --ion-color-primary-tint: #605ae8;

  --ion-color-secondary: #06b6d4; 
  --ion-color-secondary-rgb: 6, 182, 212;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #05a0ba;
  --ion-color-secondary-tint: #20bdd8;

  /**
   * Color para resaltar algo que no es acción principal ni acento.
   */
  --ion-color-tertiary: #6366f1; // 
  --ion-color-tertiary-rgb: 99, 102, 241;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5759d5;
  --ion-color-tertiary-tint: #7375f3;

  /**
   * Mantenemos el rojo para alertas y destacados
   */
  --ion-color-danger: #dc2626; 
  --ion-color-danger-rgb: 220, 38, 38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c12121;
  --ion-color-danger-tint: #df3b3b;

  /* Fondo temático fútbol */
ion-content {
  /* Degradado de césped y cielo de estadio */
  --background: linear-gradient(180deg, #51a0eb 0%, #3142a1 50%, #5c27a1 100%);
  
  position: relative;

  /* Contenedor principal */
  > .container {
    position: relative;
    z-index: 1;
  }
}
  

}