<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Hola, {{ nombre }}</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="buscar($event)" placeholder="Buscar..."></ion-searchbar>
  </ion-toolbar>

  <ion-item>
    <ion-label>Ordenar:</ion-label>
    <ion-select [value]="campoOrden + '_' + sentidoOrden" (ionChange)="cambiarOrden($event)">
      <ion-select-option value="id_desc">Recientes</ion-select-option>
      <ion-select-option value="titulo_asc">A-Z</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content>

  <ion-card *ngIf="mostrarFormulario">
    <ion-card-header>
      <ion-card-title>{{ noticiaEditandoId ? 'Editar Noticia' : 'Nueva Noticia' }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="nuevaNoticia.titulo" placeholder="Título"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea [(ngModel)]="nuevaNoticia.resumen" placeholder="Resumen"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="nuevaNoticia.autor" placeholder="Autor"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="nuevaNoticia.imagenUrl" placeholder="URL Imagen"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="guardarNoticia()">
        {{ noticiaEditandoId ? 'Guardar Cambios' : 'Publicar' }}
      </ion-button>

      <ion-button expand="block" fill="clear" color="medium" (click)="finalizarFormulario()">
        Cancelar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-grid>
  <ion-row>
    
    <ng-container *ngIf="cargando">
      <ion-col size="6" size-sm="4" size-md="3" size-lg="2" *ngFor="let item of esqueletoCajas">
        <ion-card class="noticia-card" style="margin: 4px; height: 350px;">
          <ion-skeleton-text animated style="width: 100%; height: 150px; margin: 0;"></ion-skeleton-text>
          
          <div style="padding: 10px;">
            <ion-skeleton-text animated style="width: 40%; height: 12px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 90%; height: 18px; margin-top: 10px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%; height: 10px; margin-top: 15px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%; height: 10px;"></ion-skeleton-text>
            
            <div style="display: flex; justify-content: space-between; margin-top: 25px;">
               <ion-skeleton-text animated style="width: 60%; height: 30px; border-radius: 4px;"></ion-skeleton-text>
               <ion-skeleton-text animated style="width: 20%; height: 30px; border-radius: 4px;"></ion-skeleton-text>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ng-container>

    <ng-container *ngIf="!cargando">
      <ion-col size="6" size-sm="4" size-md="3" size-lg="2" *ngFor="let n of noticias; trackBy: trackById">
        <app-task-item 
          [noticia]="n" 
          (eliminar)="eliminarNoticia(n)" 
          (editar)="editarNoticia(n)">
        </app-task-item>
      </ion-col>
    </ng-container>

  </ion-row>
</ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleFormulario()">
      <ion-icon [name]="mostrarFormulario ? 'close' : 'add'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>