ion-row {
  display: flex;
  align-items: stretch; /* Obliga a todas las columnas de una fila a medir lo mismo */
}

ion-col {
  display: flex; 
  align-items: stretch;
}

/* IMPORTANTE: El selector del componente hijo */
app-task-item {
  width: 100%;
  display: flex;
  flex: 1; /* Esto obliga al componente a estirarse */
}
ion-skeleton-text {
  --background: rgba(255, 255, 255, 0.05);
  --background-rgb: 255, 255, 255;
}

.noticia-card {
  background: #1e1e1e; // Mismo fondo que tus noticias reales
  border-radius: 12px;
  height: 380px; // La misma altura que definimos antes
}