<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Hola, {{ nombre }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar 
      placeholder="Buscar noticias..." 
      (ionInput)="buscar($event)" 
      [debounce]="500"
      animated="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none" class="ion-margin-bottom">
    <ion-label>Ordenar por:</ion-label>
    <ion-select interface="popover" value="id_desc" (ionChange)="cambiarOrden($event)">
      <ion-select-option value="id_desc">Novedades</ion-select-option>
      <ion-select-option value="titulo_asc">Título (A-Z)</ion-select-option>
      <ion-select-option value="autor_asc">Autor</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="mostrarFormulario" class="ion-margin-bottom" style="border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input [(ngModel)]="nuevaNoticia.titulo" placeholder="Ej: Goleada del Málaga"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Resumen</ion-label>
      <ion-textarea [(ngModel)]="nuevaNoticia.resumen" placeholder="Breve descripción..."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Autor</ion-label>
      <ion-input [(ngModel)]="nuevaNoticia.autor" placeholder="Tu nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">URL Imagen</ion-label>
      <ion-input [(ngModel)]="nuevaNoticia.imagenUrl" placeholder="https://..."></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="agregarNoticia()" class="ion-margin-top">
      Publicar Noticia
    </ion-button>
    <ion-button expand="block" fill="clear" color="medium" (click)="toggleFormulario()">
      Cancelar
    </ion-button>
  </div>

    <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of noticias; trackBy: trackById">
        <app-task-noticia 
          [noticia]="item" 
          (eliminar)="eliminarNoticia($event)">
        </app-task-noticia>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #skeleton>
    <ion-list>
      <ion-item *ngFor="let i of [1,2,3,4]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>